.table-container {
    display: inline-table;
	width: 100%;
    max-width: 1000px;
	min-width: 320px;
}

.ugd_responsive {
	overflow-x: auto;
}

.ugd_table {
    border: 1px lightgrey solid;
    background-color: snow;
    width: 100%;
    margin: 5px;
    color: black;
}

.ugd_table a,
.ugd_table a:link,
.ugd_table a:visited {
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
    background-color: inherit;
    color: inherit;
}

.ugd_table td {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.ugd_table th {
    text-align: center;
    background: darkgreen;
    color: white;
}

.ugd_table thead th > a:link,
.ugd_table thead th > a:visited {
    color: white;
    text-decoration: none;
}

.input {

}