<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Додати гравця</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}"/>
</head>
<body>
<div class="header">
    <a href="{{ url_for('players.add_player') }}" class="logo">Новий гравець</a>
    <div class="header-right">
        <a href="{{ url_for('players.players') }}" class="active">Гравці</a>
        <a href="{{ url_for('tournaments.tournaments') }}">Турніри</a>
    </div>
</div>
<div class="form-container">
    {{ form | safe }}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="isa_error">
        {% for message in messages %}
        <p>Помилка: {{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
</body>
</html>
