<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Редагувати гравця</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}" />
</head>
<body>
<div>
    <a href="/">Головна</a>
    <a href="{{ url_for('players.players') }}">Список гравців</a>
    <a href="{{ url_for('players.player_info', player_id=player_id) }}">Сторінка гравця</a>
    <br>
</div>
<div class="form-container">
    {{ form | safe }}
</div>
</body>
</html>
