<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ player.full_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}" />
</head>
<body>
<div class="header">
    <a href="{{ url_for('players.player_info', player_id=player.id) }}" class="logo">{{ player.full_name }} ({{ player.rank.name }})</a>
    <div class="header-right">
        <a href="/players">Гравці</a>
        <a href="/tournaments">Турніри</a>
    </div>
</div>
<div class="form-container">
    {{ form | safe }}
</div>
</body>
</html>
