<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<div class="header">
    <a href="{{ url_for('index.index') }}" class="logo">База турнірів по го</a>
    <div class="header-right">
        <a href="{{ url_for('players.players') }}">Гравці</a>
        <a href="{{ url_for('tournaments.tournaments') }}">Турніри</a>
    </div>
</div>
</body>
</html>
