<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ player_data.0 }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}"/>
</head>
<body>
<div class="header">
    <a href="" class="logo">{{ player_data.0 }} ({{ player_data.3 }})</a>
    <a href="{{ player_id | safe }}/edit">Редагувати</a>
    <a href="{{ player_id | safe }}/delete" onclick="return confirm('Ви впевнені?');">Видалити</a>
    <div class="header-right">
        <a href="/players">Гравці</a>
        <a href="/tournaments">Турніри</a>
    </div>
</div>

<div class="table-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {{ table | safe }}
</div>
</body>
</html>
