<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Гравці</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}"/>
</head>
<body>
<div class="header">
    <a href="{{ url_for('index.index') }}" class="logo">База турнірів по го</a>
    <a href="{{ url_for('players.add_player') }}">Додати гравця</a>
    <div class="header-right">
        <a href="{{ url_for('players.players') }}" class="active">Гравці</a>
        <a href="{{ url_for('tournaments.tournaments') }}">Турніри</a>
    </div>
</div>
<div class="table-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% if players %}
    <table class="ugd_table">
        <tr>
            <th>№ з/п</th>
            <th>Прізвище та ім'я</th>
            <th>Місто</th>
            <th>Рейтинг</th>
            <th>Ранг</th>
            <th>Розряд</th>
            <th>PIN</th>
            <th>Активний</th>
        </tr>
        {% for p in players %}
        <tr>
            <td><a href="{{ url_for('players.player_info', player_id=p.id) }}">{{ loop.index }}</a></td>
            <td><a href="{{ url_for('players.player_info', player_id=p.id) }}">{{ p.full_name }}</a></td>
            <td>{{ p.city.name or '' }}</td>
            <td>{{ (p.rating|string).rstrip('0').rstrip('.') or '' }}</td>
            <td>{{ p.rank.name or '' }}</td>
            <td>{{ p.national_rank.abbreviate or '' }}</td>
            <td>{{ p.pin or '' }}</td>
            <td>{{ '+' if p.is_active else '' }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
</body>
</html>
