<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ player.full_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}"/>
</head>
<body>
<div class="header">
    <a href="{{ url_for('players.player_info', player_id=player.id) }}" class="logo">{{ player.full_name }} ({{
        player.rank.name }})</a>
    <a href="{{ url_for('players.edit_player', player_id=player.id) }}">Редагувати</a>
    <a href="{{ url_for('players.delete_player', player_id=player.id) }}" onclick="return confirm('Ви впевнені?');">Видалити</a>
    <div class="header-right">
        <a href="{{ url_for('players.players') }}" class="active">Гравці</a>
        <a href="{{ url_for('tournaments.tournaments') }}">Турніри</a>
    </div>
</div>
<div class="table-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <table class="ugd_table" style="width: 50%">
        <tr>
            <td class="col-25" style="text-align: right">Повне ім'я:</td>
            <td class="col-75" style="text-align: left"><b>{{ player.full_name }}</b></td>
        </tr>
        <tr>
            <td class="col-25" style="text-align: right">Місто:</td>
            <td class="col-75" style="text-align: left"><b>{{ player.city.name }}</b></td>
        </tr>
        <tr>
            <td class="col-25" style="text-align: right">Ранг:</td>
            <td class="col-75" style="text-align: left"><b>{{ player.rank.name }}</b></td>
        </tr>
        <tr>
            <td class="col-25" style="text-align: right">Розряд або звання:</td>
            <td class="col-75" style="text-align: left"><b>{{ player.national_rank.name }}</b></td>
        </tr>
        <tr>
            <td class="col-25" style="text-align: right">Рейтинг:</td>
            <td class="col-75" style="text-align: left"><b>{{ (player.rating|string).rstrip('0').rstrip('.') }}</b></td>
        </tr>
        <tr>
            <td class="col-25" style="text-align: right">Турнірів зіграно:</td>
            <td class="col-75" style="text-align: left"><b>{{ participant|length }}</b></td>
        </tr>
    </table>
    {%  if participant %}
    <table class="ugd_table">
        <tr>
            <th>Дата</th>
            <th>Місто</th>
            <th>Назва</th>
            <th>Місце</th>
            <th>Рейтинг</th>
        </tr>
        {% for p in participant %}
        <tr>
            <td>{{ p.tournament.date_start }}</td>
            <td>{{ p.tournament.city.name or '' }}</td>
            <td><a href="{{ url_for('tournaments.tournament_info', tournament_id=p.tournament.id) }}">{{ p.tournament.name }}</a></td>
            <td>{{ p.place }}</td>
            {% if p.rating_end and p.rating_end %}
                {% if p.rating_start < p.rating_end %}
                <td style="color: green">{{ (p.rating_start|string).rstrip('0').rstrip('.') }} →
                                         {{ (p.rating_end|string).rstrip('0').rstrip('.') }}</td>
                {% elif p.rating_start > p.rating_end %}
                <td style="color: red">{{ (p.rating_start|string).rstrip('0').rstrip('.') }} →
                                         {{ (p.rating_end|string).rstrip('0').rstrip('.') }}</td>
                {% else %}
                <td style="color: black">{{ (p.rating_start|string).rstrip('0').rstrip('.') }} →
                                         {{ (p.rating_end|string).rstrip('0').rstrip('.') }}</td>
                {% endif %}
            {% elif p.rating_start %}
            <td style="color: black">{{ (p.rating_start|string).rstrip('0').rstrip('.') }}</td>
            {% elif p.rating_end %}
            <td style="color: black">{{ (p.rating_end|string).rstrip('0').rstrip('.') }}</td>
            {% else %}
            <td style="color: black"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
</body>
</html>
