<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ player.full_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}"/>
</head>
<body>
<div class="header">
    <a href="{{ url_for('players.player_info', player_id=player.id) }}" class="logo">{{ player.full_name }} ({{ player.rank.name }})</a>
    <a href="{{ url_for('players.edit_player', player_id=player.id) }}">Редагувати</a>
    <a href="{{ url_for('players.delete_player', player_id=player.id) }}" onclick="return confirm('Ви впевнені?');">Видалити</a>
    <div class="header-right">
        <a href="{{ url_for('players.players') }}">Гравці</a>
        <a href="{{ url_for('tournaments.tournaments') }}">Турніри</a>
    </div>
</div>
<div class="table-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {{ table | safe }}
</div>
</body>
</html>
