<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Турніри</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}"/>
</head>
<body>
<div class="header">
    <a href="{{ url_for('index.index') }}" class="logo">База турнірів по го</a>
    <a href="{{ url_for('tournaments.add_tournament') }}">Завантажити</a>
    <div class="header-right">
        <a href="{{ url_for('players.players') }}">Гравці</a>
        <a href="{{ url_for('tournaments.tournaments') }}" class="active">Турніри</a>
    </div>
</div>

<div class="table-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {{ table | safe }}
</div>
</body>
</html>
