<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Турніри</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}"/>
</head>
<body>
<div class="header">
    <a href="/" class="logo">База турнірів по го</a>
    <a href="/tournaments/add">Завантажити турнір</a>
    <div class="header-right">
        <a href="/players">Гравці</a>
        <a class="active" href="/tournaments">Турніри</a>
    </div>
</div>

<div class="table-container">
    {{ table | safe }}
</div>
</body>
</html>
